name: CI

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        emacs-version: [30.1]
        experimental: [false]
        include:
          - os: ubuntu-latest
            emacs-version: snapshot
            experimental: true
          - os: macos-latest
            emacs-version: snapshot
            experimental: true
          - os: windows-latest
            emacs-version: snapshot
            experimental: true

    steps:
      - name: setenv
        run: echo "ACTIONS_ALLOW_UNSECURE_COMMANDS=true" >> $GITHUB_ENV

      - uses: actions/checkout@v5

      - uses: jcs090218/setup-emacs@master
        with:
          version: ${{ matrix.emacs-version }}

      - name: compile-mcp
        shell: bash
        run: emacs -Q --batch --eval "(setq byte-compile-error-on-warn t)" -f batch-byte-compile mcp.el
      - name: compile-mcp-hub
        shell: bash
        run: emacs -Q --batch --eval "(progn (setq byte-compile-error-on-warn t) (add-to-list 'load-path \"./\"))" -f batch-byte-compile mcp-hub.el
      - name: test
        shell: bash
        run: emacs -Q --batch -L . _-L test -l test/run-tests.el
